@import "tailwindcss";

html {
    background-color: black;
}

@layer utilities {
    .animate-ripple {
        animation: ripple 1.5s infinite;
    }

    .animate-fade-slide {
        animation: fadeSlideUp 1s ease forwards;
    }

    .animate-dot-bounce {
        animation: dotBounce 1s infinite;
    }

    @keyframes ripple {
        0% {
            opacity: 0.15;
        }

        50% {
            opacity: 0.35;
        }

        100% {
            opacity: 0.15;
        }
    }

    @keyframes fadeSlideUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes dotBounce {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(12px);
        }
    }
}